# Python compilation cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Virtual Environments
.venv/
venv/
ENV/

# Configuration and Secrets
.env
config.yaml

# Local database and logs
data/
*.db
*.log
oly_page.html
oly_page_div.json
oly_page_divs.json

# Scratch testing scripts
scratch/

# IDE configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
